.TopicInPost {
    background-color: #FFE0E0;
    display: table;
    line-height: 11pt;
}
.TopicInView {
    background-color: #FFE0E0;
    display: inline;
}
.TopicInList {
    background-color: #FFE0E0;
    display: inline;
}
.SetTopiccss {
  background-repeat: no-repeat !Important;
  background-size: 24px;
  font-size: 10pt; 
}
.TopicSearch {
  background-repeat: no-repeat !Important;
  background-size: 24px;
  font-size: 10pt; 
}
.SearchTopicBox {
	min-width: 600px;
	color:blue;
}
.TopicBox {
	width: 99%;
	color:blue;
}
.RelatedDiscussions {
    padding-left: 19px !Important;
    text-indent: -14px;
    line-height: 10pt;
}
.RelatedItemLink {
	display:inline;
}
.Emphasize {
    font-size: large;
    font-weight: bold;
    margin-right: 4px;
}
.NoEmphasize {
    font-size: large;
    font-weight: bold;
    margin-right: 4px;
}
.Topichead {
    background-Color: rgba(123, 119, 107, 0.07);
    color: #23355C;
    text-align: center;
	font-weight: bold;
	font-size: larger;
}
.Titlesortnotice {
    font-weight: bold;
    color: light-gray;
	font-size: normal;
}
