.Popup .Border .Body {
 width: 800px;
 max-width:800px;
 min-height: 500px;
 background: rgb(255, 255, 222); 
}
.TextWideInputBox {
    width: 600px;
    max-width: 60%;
}
.TextNarrowInputBox {
    width: 50px;
    max-width: 60%;
    margin-left: 2px;
}
Input {
	margin-left:30px;
}
.FieldDescription {
    float: left;
    margin-right: 4px;
	color: black;
    font-size: inherit;
    font-weight: initial;
	max-width: 66%
}
.FieldDescriptionContinue {
    margin-left: 10px;
    color: black;
    font-size: inherit;
}
.FieldDescriptionLine2 {
    float: none;
    margin-right: 4px;
    color: black;
    font-size: inherit;
    font-weight: initial;
    max-width: 66%
}
/*
.FieldDescription:after {
    float: left;
    width: 0;
    white-space: nowrap;
    color: black;
    content: ". . . . . . . . ";
  }
 */
.FieldDescriptionB {
    margin-right: 14px;
}
.SetupParameters {
    margin-left: 14px;
	background-color: yellow;
}
.Snippet {
    max-width: 300px;
    border-radius: 1px 1px 11px 11px;
    border-width: 1px;
    border-color: #8bc1de;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.RadioLabel {
	display: block !Important;
	padding-left: 16px;
}
.ul:before {
  content: '\a RED RED';
  white-space: pre;
  background-color: red;
}
.Optionlist {
	margin-left: 19px !Important;
}
.FieldCheckBox {
     color: INITIAL;
    font-size: inherit;
}
.CheckBoxList {
    padding: 0px 15px 0px 0px !Important;
    margin: 0px 0px 0px 0px !Important;
    background-color:light-blue;
}
.CheckBoxList li {
    float: left !Important;
    background-color:light-blue;
}
.Categorylist {
    border-style: solid;
    border-radius: 0px 0px 0px 10px;
    background-color: #f6f6f6;
    background: linear-gradient(to right, #e9f6fa , white);
    border-width: 0px 0px 1px 0px;
    border-color: #8bc1de;
    word-spacing: 0px;
}
.ChecklistDescription {
    padding: 0px;
}
.XCheckBoxList {
    width: 60%;
    background-color: #f6f6f6;
    display: table;
}
.Error  {
	color:red;
}
.SettingTest {
    background: #fff4bf;
    margin-bottom: 7px;
    max-width: 69%;
}
.SettingNote {
    background: #003671;
    color: #dbf3fc;
    max-width: 500px;
    margin-bottom: 4px;
	display: inline-block;
}
.SettingError:before {
    content: "Error:";
    margin-right: 4px;
    background: #D50A0A;
    color: white;
}
.SettingError {
	margin-left: 2px;
}
.SettingWarning:before {
    content: "Warning:";
    background: #F9B900;
    margin-right: 4px;
    color: black;
    font-weight: bold;
}
.SettingWarning {
	margin-left: 2px;
	color: inherit;
}
.SettingGardenWarning {
	margin-left: 2px;
    color: inherit;
    background: #FFE1A9;
    display: inline;
}
.SettingNewSection   {
	color: black;
    font-size: 12pt;
    text-shadow: 1px 1px #e0e0e0;
    text-decoration: underline;
	max-width: 500px;
	line-height: 13pt;
	display: table;
    left: 1px;
    padding: 2px;
    width: 99%;
	
}
.SettingNewSection:before {
  content: '_______________________________________';
  white-space: pre;
  text-decoration: none;
  color: white;
  display:none;
}
.SettingNewSection:after {
  content: '________________________________________________________________________________________________________________________________';
  white-space: pre;
  text-decoration: none;
  color: white;
}
.SettingLink {
    border-style: solid;
    border-radius: 5px;
    background-color: #a3e3fd;
    border-width: thin;
    border-color: blue;
    padding: 0px 4px 0px 4px;
    margin: 0px 0px 0px 0px;
    line-height: 22pt;
    color: black;
}
.UpdateTopMessage {
    background-color: #fdfda3;
    color: black;
    top: 32px;
    left: 12px;
    line-height: 12px;
    position: absolute;
    padding-left: 3px;
}
.AsideColumn {
    max-width: 30%;
    float: right;
    clear: right;
    padding: 0px 0px 0px 8px;
    border-width: 0px 0px 1px 1px;
    border-radius: 0px 0px 0px 11px;
    border-color: #e9f6fa;
    border-style: solid;
    background: rgb(245, 252, 255);
    background: linear-gradient(to right, #e9f6fa , white, white, white, white, white, white, white, white, white, white, white, white, white, white, white, white, white, white, white, white, white, white, white);
}
.SettingAside {
    padding-top: 0px !Important;
    padding-bottom: 0px !Important;
    font-size: large;
    line-height: 10pt;
    border-style: solid;
    border-radius: 1px 1px 11px 11px;
    background-color: #f6f6f6;
    border-width: thin;
    border-color: #8bc1de;
    margin-left: 0px !Important;
    margin-bottom: 9px !Important;
    display: block;
	width: 99%;
}
.SettingAsideWide {
    max-width: 50%;
    padding-top: 0px !Important;
    padding-bottom: 0px !Important;
	padding-left: 4px;
    padding-right: 4px;
    font-size: large;
    line-height: 10pt;
    float: right;
    border-style: solid;
    border-radius: 1px 1px 11px 11px;
    background-color: #f6f6f6;
    border-width: thin;
    border-color: #8bc1de;
    margin-left: 6px !Important;
    margin-bottom: 9px !Important;
    display: block;
}
.SettingAsideSubhead{
    padding-bottom: 6px;
    padding-top: 6px;
    font-size: 14px;
    color: black;
    text-decoration: underline;
    font-weight: bolder;
    text-align: left;
}
.SettingAsideN {
    padding: 4px 6px 4px 8px;
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-weight: normal;
    line-height: 14px;
}
.SettingAsideRedN{
    padding-bottom: 10px;
    padding-left: 10pt;
	padding-top: 4px;
    font-size: 12px;
    color: red !Important;
    text-decoration: none;
	font-weight:bold;
}
.SettingAsideP {
    padding-bottom: 10px;
    padding-left: 0pt;
    font-size: 12px;
    color: black;
    text-decoration: none;
	font-weight:normal;
}
.SettingAsideU {
    padding-bottom: 10px;
    padding-left: 0pt;
    font-size: 12px;
    color: black;
    text-decoration: underline;
	font-weight:normal;
}
.ContinueButton {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: #efefef;
    box-sizing: border-box;
    padding: 1px 8px 2px 6px;
    margin: 0px 2px 0px 3px;
    border-width: 1px;
    border-style: ridge;
    border-color: rgba(156, 156, 156, 0.99);
    text-decoration: initial;
    font-weight: initial;
    font: 13.3333px Arial;
    font-size: 11pt;
    background: #efefef;
    background: -webkit-linear-gradient(left top, whitesmoke, #e4e4e4);
    background: -o-linear-gradient(bottom right, whitesmoke, #e4e4e4);
    background: -moz-linear-gradient(bottom right, whitesmoke, #e4e4e4w);
    background: linear-gradient(to bottom right, whitesmoke, #e4e4e4);
}
.Button {
margin: 0 0 0 6px;
}
.SettingHeadFirst {
	color: black;
    font-size: inherit;
    text-decoration: underline;
    line-height: 13pt;
    font-weight: initial;
    padding-top: 2px;
    padding-left: 0px;
    margin-left: -4px;
}
.SettingHead {
	color: black;
    font-size: inherit;
    text-decoration: underline;
    line-height: 13pt;
    font-weight: initial;
    padding-top: 2px;
    padding-left: 0px;
    margin-left: -4px;
    display: inline-table;
    width: 66%;
    max-width: 60%;
}
.SettingSubh {
	color: #777;
    font-size: 11pt;
    font-weight: bold;
	line-height: 12pt;
}
.SettingSep {
    color: black;
    height: 0.001px;
	text-decoration: underline;;
    max-width: 500px;
	margin-top:10px;
}
.SettingText {
	color: black;
    font-size: 10pt;
}
.SettingTextContinue {
    color: black;
    font-size: 10pt;
    margin-left: 31px;
    margin-top: -7px;
}
.Settingsqueeze {
    font-size: 1pt;
	line-height: 2pt;
}
.ReportHead {
    border-style: solid;
    border-radius: 1px 1px 1px 1px;
    background-color: #f6f6f6;
    border-width: thin;
    border-color: #8bc1de;
    margin: 6px 6px 6px 6px;
    padding:0px 6px 0px 6px;
    display: block;
}
.ReportMsg {
    font-size: larger;
    color: red;
}
.ReportNote {
    font-size: larger;
    color: green;
}
.ReportBlock {
    border-style: solid;
    border-radius: 1px 1px 1px 1px;
    background-color: #f6f6f6;
    border-width: thin;
    border-color: #8bc1de;
    margin: 6px 6px 6px 6px;
    padding:0px 6px 0px 6px;
    display: block;
    line-height: 9pt;
    font-size: small;
}
.ReportSummary {
    border-style: solid;
    border-radius: 1px 1px 1px 1px;
    background-color: #f6f6f6;
    border-width: thin;
    border-color: #8bc1de;
    margin: 6px 6px 6px 6px;
    padding: 6px 6px 6px 6px;
    display: block;
}
.ReportButtons {
    font-size: larger;
    font-weight: bold;
	border-style: solid;
    margin: 6px 6px 6px 6px;
    border-radius: 1px 1px 1px 1px;
    background-color: #f6f6f6;
    border-width: thin;
    border-color: #8bc1de;
    font-size: large;
    min-width: 80%;
    display: block;
	text-align: center;
}